.mt2 {
    margin-top: 2em;
}

.ml2 {
	margin-left: 2em;
}

.ml3 {
	margin-left: 3em;
}

.mr2 {
	margin-right: 2em;
}

.mr4 {
	margin-right: 4em;
}

.wauto {
    width: auto;
}

.tar {
    text-align: right;
}

.bb {
    margin-left: 3em;
    margin-right: 4em;
}

.error {
	color: #c00;
}

.success {
	color: #0c0;
	font-weight: bold;
}
